<div th:fragment="content">

	<form action="#" th:action="@{/instructors/update}"
		th:object="${instructor}" method="post">
		<p>
		<div class="form-group">
			<input type="hidden" class="form-control" id="id" placeholder="id"
				th:field="*{id}" th:value="${instructor.id}">
		</div>

		<div class="form-group">
			<label for="InputName">Name</label> <input type="text"
				class="form-control" id="name" placeholder="Name" th:field="*{name}"
				th:value="${instructor.name}">
		</div>
		<div class="form-group">
			<label for="InputSurName">Surname</label> <input type="text"
				class="form-control" id="surname" placeholder="Surname"
				th:field="*{surname}" th:value="${instructor.surname}">
		</div>

		<div class="form-group">
			<label for="BirthDate">Birth Date</label> <input type="text"
				class="form-control" id="birthDate" placeholder="birthDate"
				th:field="*{birthDate}" th:value="${instructor.birthDate}">
		</div>

		<div class="form-group">
			<label for="tckn">Tc Kimlik No</label> <input type="text"
				class="form-control" id="tckn" placeholder="tckn" th:field="*{tckn}"
				th:value="${instructor.tckn}">
		</div>

		<div class="form-group">
			<label for="email">E-Mail</label> <input type="text"
				class="form-control" id="email" placeholder="email"
				th:field="*{email}" th:value="${instructor.email}">
		</div>



		<div class="form-group">
			<label for="Password">Password</label> <input type="text"
				class="form-control" id="password" placeholder="password"
				th:field="*{password}" th:value="${instructor.password}">
		</div>

		<div class="form-group">
			<label for="Phone">Phone</label> <input type="text"
				class="form-control" id="phone" placeholder="phone"
				th:field="*{phone}" th:value="${instructor.phone}">
		</div>


		<div class="form-group">
			<select multiple name="courseIds" class="form-control">
				<option th:each="course : ${courses}" th:value="${course.id}"
					th:text="${course.name}"
					th:selected="${#lists.contains(instructor.courses, course)}">Wireframe</option>
			</select>
		</div>

		<button type="submit" class="btn btn-info" name="id"
			th:value="${instructor.id}" th:type="submit">Update</button>
		</p>
	</form>
</div>